.card {
    width: 500px;
    height: fit-content;
    background-color: aliceblue;
    border-radius: 25px;
    border: solid 2px navy;
    margin: 20px;
    padding: 40px;
}

.border {
    border-radius: 20px;
}

.icone1 {
    background-image: url('https://cdn-icons-png.flaticon.com/512/706/706830.png');
    width: 100px;
    height: 100px;
    background-size: cover;
    margin-top: 20px;
}

.icone2 {
    background-image: url('https://cdn-icons-png.flaticon.com/256/3681/3681928.png');
    width: 100px;
    height: 100px;
    background-size: cover;
    margin-top: 20px;
}

.main-color {
    color: navy;
}